<main role="main" id="main">

  <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/watch.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome to Delivium.com!</h5>
          <p>Your one stop shop for all thing premium! Scroll down for more info!</p>
        </div>
      </div>
    </div>
  </div>

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7" id="feature1">
      <h2 class="featurette-heading" style="color: teal">What is Delivium.com? Pray Tell!</h2>
      <p class="lead">Delivium is a website that prides itself in providing safe delivery of all your high priced
        items. High-End retailers
        will never trust their items to be handled by delivery boys. Delivium however, challenges that beliefs and
        ensures that the high end items get
        delivered safely to the hands of the customer. </p>
    </div>
    <div class="col-md-5" id="featurepic1">
      <img src="../../assets/images/question.jpeg">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2" id="feature2">
      <h2 class="featurette-heading" style="color: teal">Really? Delivium is safe? Tell me how!</h2>
      <p class="lead">Delivium understands that you, the customer, place importance in the safety of the package. We
        here at Delivium, raises that bar
        by...ensuring, that your package reaches you safely. Using a "Live Track" function, you, the customer, will be
        given updates in real time from the
        time it leaves the store, till it reaches your front doorstep. Yes. That is how commited we are to your
        package.
      </p>
    </div>
    <div class="col-md-5 order-md-1" id="featurepic2">
      <img src="../../assets/images/location.jpeg">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7" id="feature3">
      <h2 class="featurette-heading" style="color: teal">Alright, you've got me, What do i do now?</h2>
      <p class="lead">Alright! Now, all you simply have to do is to click on the <a class="register" routerLink='/register'style="color:teal" style="-moz-text-decoration-line: underline">Register</a> link here (or navigate to the one above, totally your choice) and start you
        journey with us!</p>
    </div>
    <div class="col-md-5 order-md-1" id="featurepic3">
      <img src="../../assets/images/start.jpg">
    </div>
  </div>
  <br>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
    crossorigin="anonymous"></script>