<div class container="container">
  <div class="background-image">
    <img src="../../assets/images/login.jpeg">
  </div>

  <div class="login-box">
    <h1 id="loginText">Login</h1>

    <input (keyup)="onChangeName($event)" placeholder="Enter your name!" id="nameBox">
    <br><br>
    <input (keyup)="onChangePassword($event)" password placeholder="Enter your password!" id="passwordBox">
    <br><br>
    <button class="btn btn-primary" (click)="onSubmit()" type="submit">Login!</button>
  </div>

</div>